// Primary colours
$brainflix-black: #323232;
$brainflix-blue: #0095FF;
$primary-silver: #AFAFAF;
$primary-white: #FFFFFF;

// Secondary colours
$brainflix-darkblack: #000000;
$brainflix-darkblue: #0065AD;
$secondary-mercury: #E1E1E1 ;
$secondary-alabaster: #FAFAFA ;

//screen sizes

$mobile: 767px;
$tablet: 768px;
$tablet-max: 1279px;
$desktop: 1280px;