@use "../../styles/breakpoints" as *;
@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;
@use "../../styles/variables" as *;

.react-calendar {
  width: 100vw;
  max-width: 100%;
  background: none;
  border: none;
  font-family: "Avenir Next", "Arial", sans-serif;
  line-height: 1.125em;
}

.display__none {
  display: none;
}

.sad {
  background-color: red;
}

.happy {
  background-color: green;
}

.frustrated {
  background-color: aquamarine;
}

.tired {
  background-color: peachpuff;
}
.drained {
  background-color: salmon;
}
